html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Container principal: mapa + painel */
#container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Painel de controle do lado esquerdo */
#control-panel {
    width: 400px;
    background-color: #1a1a1a;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

/* Mapa ocupa o resto do espaço */
#map {
    flex-grow: 1;
    height: 100%;
}

/* Um toque no formulário */
#form-route{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label, p, h2, h1 {
    color: white;
}
input {
    background-color: rgb(54, 54, 54);
    border-radius: 2px;
    color: white;
    border: none;
}

button {
    padding: 10px;
    border: none;
    background: #2b9e48;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1b5c24;
}

.hidden {
    display: none;
}
