<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculated!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div id="container">
        <div id="control-panel">
            <form id="form-route">
                <h1>Calculated!</h1>

                <div class="form-group">
                    <label for="origem">Starting point:</label>
                    <input type="text" id="autocomplete-origin" name="origin_text" placeholder="Type an address or local" class="text-field" required>
                    <input type="hidden" id="origin_place_id" name="origin_place_id">
                </div>

                <div class="form-group">
                    <label for="destino">Destination point:</label>
                    <input type="text" id="autocomplete-destination" name="destination_text" placeholder="Type an address or local" class="text-field" required>
                    <input type="hidden" id="destination_place_id" name="destination_place_id">
                </div>

                <div class="form-group">
                    <label for="fuel_price">Liter price ($):</label>
                    <input type="number" step="0.01" id="fuel_price" name="fuel_price" placeholder="Ex: 6.89" class="text-field" required>
                </div>
                
                <div class="form-group">
                    <label for="vehicle_consum">Fuel consumption (km/l):</label>
                    <input type="number" step="0.1" id="vehicle_consum" name="vehicle_consum" placeholder="Ex: 12.5" class="text-field" required>
                </div>

                <button type="submit">Calculate</button>
            </form> 
        
            <div id="area-results" class="hidden">
                <h2>Result</h2>
                <p><strong>Distance:</strong> <span id="distance-result"></span></p>
                <p><strong>Cost: $</strong> <span id="result-cost"></span></p>
            </div>
        </div>

        <div id="map"></div>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=API_MAPS_HERE&libraries=places,routes&v=beta&callback=initApp" async defer></script>
</body>

</html>